{% extends "base.html" %}

{% block head_title %}About{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6 offset-3">
        <h1>About us</h1>
        <p>
            About us! About us! About us! About us! About us! About us!
            About us! About us! About us! About us! About us! About us!
            About us! About us! About us! About us! About us! About us!
        </p>
        <p>
            About us! About us! About us! About us! About us! About us!
            About us! About us! About us! About us! About us! About us!
            About us! About us! About us! About us! About us! About us!
        </p>
        <p>
            About us! About us! About us! About us! About us! About us!
            About us! About us! About us! About us! About us! About us!
        </p>
        <p>
            About us! About us! About us! About us! About us! About us!
        </p>
    </div>
</div>
{% endblock %}
