{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Contact{% endblock %}


{% block content %}
{% if title %}
<div class="row">
    <div class="col-sm-12">
       <h1 class="text-allign-center">{{ title }}</h1>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <form method="POST" action="">{% csrf_token %}

            {{ form|crispy }}<br>
            <input class="btn btn-success" type="submit" value="Send">

        </form>
    </div>
</div>

{% endblock %}
