{% extends "base1.html" %}
{% block head_title %}Home{% endblock %}
{% block jumbotron %}
  <div class="jumbotron">
      {% block jumbotron_content %}
    <h1>Новый сайт Юрца</h1>
    <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
    <a class="btn btn-lg btn-primary" href="/docs/4.3/components/navbar/" role="button">View navbar docs &raquo;</a>
  {% endblock %}
  </div>


{% endblock %}

{% block content %}
<h3>{{ title }}</h3><br>

{{ user }}<br>

{{ request.user }}<br>
<form method="POST" action="">{% csrf_token %}

    {{ form.as_p }}<br>
<input type="submit" value="Sign Up">
</form>

<br>
<br>
<br>
<br>

{% endblock %}
